<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stopec.gy.mapper.CreateMysqlTablesMapper">

    <resultMap id="sysMysqlColumns" type="com.stopec.gy.mybatis.handler.pojo.SysMysqlColumns">
        <result column="table_catalog" property="tableCatalog" jdbcType="VARCHAR"/>
        <result column="table_schema" property="tableSchema" jdbcType="VARCHAR"/>
        <result column="table_name" property="tableName" jdbcType="VARCHAR"/>
        <result column="column_name" property="columnName" jdbcType="VARCHAR"/>
        <result column="ordinal_position" property="ordinalPosition" jdbcType="VARCHAR"/>
        <result column="column_default" property="columnDefault" jdbcType="VARCHAR"/>
        <result column="is_nullable" property="isNullable" jdbcType="VARCHAR"/>
        <result column="data_type" property="dataType" jdbcType="VARCHAR"/>
        <result column="character_maximum_length" property="characterMaximumLength" jdbcType="VARCHAR"/>
        <result column="character_octet_length" property="characterOctetLength" jdbcType="VARCHAR"/>
        <result column="numeric_precision" property="numericPrecision" jdbcType="VARCHAR"/>
        <result column="numeric_scale" property="numericScale" jdbcType="VARCHAR"/>
        <result column="character_set_name" property="characterSetName" jdbcType="VARCHAR"/>
        <result column="collation_name" property="collationName" jdbcType="VARCHAR"/>
        <result column="column_type" property="columnType" jdbcType="VARCHAR"/>
        <result column="column_key" property="columnKey" jdbcType="VARCHAR"/>
        <result column="extra" property="extra" jdbcType="VARCHAR"/>
        <result column="privileges" property="privileges" jdbcType="VARCHAR"/>
        <result column="column_comment" property="columnComment" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 抽取出来的公共部分 -->
    <sql id="commonSql">
        `${fields.fieldName}` ${fields.fieldType}
        <choose>
            <when test="fields.fieldLength != 0 and fields.fieldDecimalLength != 0">
                (${fields.fieldLength},${fields.fieldDecimalLength})
            </when>
            <when test="fields.fieldLength != 0">
                (${fields.fieldLength})
            </when>
        </choose>
        <if test="fields.fieldIsNull">
            NULL
        </if>
        <if test="!fields.fieldIsNull">
            NOT NULL
        </if>
        <if test="fields.fieldIsAutoIncrement">
            AUTO_INCREMENT
        </if>
        <!-- 不是自增长的才能有默认值 -->
        <!-- 有默认值时 -->
        <if test="!fields.fieldIsAutoIncrement and fields.fieldDefaultValue != null and fields.fieldDefaultValue != ''">
            DEFAULT #{fields.fieldDefaultValue}
        </if>

        <if test="fields.fieldComment != null and fields.fieldComment != ''">
            COMMENT #{fields.fieldComment}
        </if>
    </sql>

    <!-- 创建表的 -->
    <select id="createTable" parameterType="java.util.Map">

        <foreach collection="tableMap" index="key" item="value">
            create table `${key}`(
            <foreach collection="value" item="fields" separator=",">
                <include refid="commonSql"></include>
                <if test="fields.fieldIsKey">
                    ,PRIMARY KEY (`${fields.fieldName}`)
                </if>
                <if test="fields.fieldIsUnique">
                    ,UNIQUE KEY (`${fields.fieldName}`)
                </if>
            </foreach>
            );
        </foreach>

    </select>

    <!-- 验证表是否存在 -->
    <select id="findTableCountByTableName" resultType="int" parameterType="String">
		select count(1) from information_schema.tables
		where table_name = #{tableName} and table_schema = (select database())
	</select>

    <!-- 根据表名查询表的结构 -->
    <select id="findTableEnsembleByTableName" resultMap="sysMysqlColumns"
            parameterType="String">
		select * from information_schema.columns where table_name = #{tableName} and table_schema = (select database())
	</select>

    <!-- 增加字段 -->
    <select id="addTableField" parameterType="java.util.Map">

        <foreach collection="tableMap" index="key" item="fields" separator=";">
            alter table `${key}` add
            <include refid="commonSql"></include>
            <if test="fields.fieldIsKey">
                PRIMARY KEY
            </if>
            <if test="fields.fieldIsUnique">
                UNIQUE KEY
            </if>
        </foreach>

    </select>

    <!-- 删除字段 -->
    <select id="removeTableField" parameterType="java.util.Map">
        <foreach collection="tableMap" index="key" item="field" separator=";">
            alter table `${key}` drop `${field}`
        </foreach>
    </select>

    <!-- 修改字段 -->
    <select id="modifyTableField" parameterType="java.util.Map">

        <foreach collection="tableMap" index="key" item="fields" separator=";">
            alter table `${key}` modify
            <include refid="commonSql"></include>
            <if test="fields.fieldIsKey">
                PRIMARY KEY
            </if>
            <if test="fields.fieldIsUnique">
                UNIQUE KEY
            </if>
        </foreach>

    </select>


    <!-- 删除主键字段 -->
    <select id="dropKeyTableField" parameterType="java.util.Map">

        <foreach collection="tableMap" index="key" item="fields" separator=";">
            alter table `${key}` modify
            <include refid="commonSql"></include>
            ,drop primary key
        </foreach>

    </select>

    <!-- 删除唯一约束 -->
    <select id="dropUniqueTableField" parameterType="java.util.Map">

        <foreach collection="tableMap" index="key" item="fields" separator=";">
            alter table `${key}` DROP INDEX `${fields.fieldName}`
        </foreach>

    </select>

    <!-- 验证表是否存在 -->
    <select id="dorpTableByName" parameterType="String">
		DROP TABLE IF EXISTS `${tableName}`;
	</select>

    <resultMap type="String" id="TableDdlMap">
        <result column="Create Table"/>
    </resultMap>
    <select id="getSqlByTableName" parameterType="String" resultMap="TableDdlMap">
		show create table `${tableName}`;
	</select>

</mapper>
